{% extends "base.html" %}

{% block title %}CMS CondDB - Page Not Found{% endblock %}

{% block page_content %}
<div class='panel panel-default'>
    <div class='panel-heading'>
        <h3>Oops! 404 Error (Page Not Found)</h3>
    </div>
    <div class='panel-body'>
        <div class='panel-body'>
            <p>The resource you're trying to access can't be found..</p>
            <p>Click <a href="{{ url_for('main.index') }}">here</a> to go home.</p>
            <p>Or send us some <a href='mailto:cms-cond-dev@cern.ch'>feedback (<span class='glyphicon glyphicon-envelope'></span>)</a> with what you expected to see on this page.</p>
        </div>
    </div>
</div>
{% endblock %}
