{% extends "base.html" %}

{% block title %}CMS CondDB - Internal Server Error{% endblock %}

{% block page_content %}
<div class='panel panel-default'>
    <div class='panel-heading'>
        <h3>500 Error (Internal Server Error)</h3>
    </div>
    <div class='panel-body'>
        <div class='panel-body'>
            <p>Something bad happened in the server.</p>
            <p>This is either because some code went wrong, or there are too many requests for the server to deal with.</p>
            <p>Click <a href="{{ url_for('main.index') }}">here</a> to go home.</p>
            <p>If this keeps happening, <a href='mailto:cms-cond-dev@cern.ch'>contact (<span class='glyphicon glyphicon-envelope'></span>)</a> the AlCaDB team.</p>
        </div>
    </div>
</div>
{% endblock %}
