{% macro render_field(field) %}
  {{ field(**kwargs)|safe }}
  {% if field.errors %}
    <ul class=errors>
    {% for error in field.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}

{% macro flash_messages() %}
    {% for category, message in get_flashed_messages(with_categories=true) %}
        {% if category == 'message' %}
            <div class="alert alert-warning" role="alert">
        {% else %}
            <div class="alert alert-{{ category }}" role="alert">
        {% endif %}
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}
{% endmacro %}

{% macro render_table(name, classes='') %}
    <div id='{{ name }}_loader' class='spinner-loader'></div>
    <table cellpadding='0' cellspacing='0' border='0' class='table table-bordered table-hover {{ classes }}' id='{{ name }}' style='background-color: #fff;'></table>
{% endmacro %}
