{% extends "bootstrap/base.html" %}
{% import  "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}{{ config.APPLICATION_NAME }}{% endblock %}

{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.css">
{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('main.index') }}" title="{{ config.APPLICATION_NAME }}">{{ config.APPLICATION_NAME }}</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class='nav navbar-nav'>
                <li><a href="{{ url_for('main.test', db=session.db) }}"><span class='glyphicon glyphicon-stats'></span>&nbsp; Test DB</a></li>
                <li><a href="{{ url_for('main.test_admin') }}"><span class='glyphicon glyphicon-stats'></span>&nbsp; Test Admin</a></li>
                <li class='dropdown'>
                    <a href='#' class='dropdown-toggle' data-toggle='dropdown'><span class='glyphicon glyphicon-file'></span>&nbsp; Docs <b class='caret'></b></a>
                    <ul class='dropdown-menu'>
                        <li><a href='https://twiki.cern.ch/twiki/bin/view/CMS/AlCaDB' target='_blank'>AlCaDB TWiki</a></li>
                        <li class='divider'></li>
                        <li><a href='/docs/index.html'>Old docs and links other services</a></li>
                    </ul>
                </li>
            </ul>
            <ul class='nav navbar-nav navbar-right'>
                <li class='dropdown' style="padding-right: 15px;">
                    <a href='#' class='dropdown-toggle' data-toggle='dropdown'><span class='glyphicon glyphicon-user'></span>&nbsp; {% if current_user.is_authenticated %}{{ current_user.username }}{% else %}Stranger{% endif %}<b class='caret'></b></a>
                    <ul class='dropdown-menu'>
                        <li><a href="#"><span class='glyphicon glyphicon-info-sign'></span>&nbsp; User Type: {% if current_user.admin %}admin{% else %}user{% endif %}</a></li>
                        <li><a href="{{ url_for('auth.logout') }}"><span class='glyphicon glyphicon-log-out'></span>&nbsp; Sign out</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
    {% if self.page_content() %}
        <div class="container page-container">
            {{ macros.flash_messages() }}
            {% block page_content %}{% endblock %}
        </div>
    {% endif %}
    {% if self.page_content_fluid() %}
        <div class="container-fluid page-container" style="width:95%">
            {{ macros.flash_messages() }}
            {% block page_content_fluid %}{% endblock %}
        </div>
    {% endif %}
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript" src="//cdn.datatables.net/1.10.11/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="//cdn.datatables.net/plug-ins/1.10.11/integration/bootstrap/3/dataTables.bootstrap.js"></script>

<script type=text/javascript>
    $SCRIPT_ROOT = "/{{ config.APPLICATION_NAME }}";
</script>
{% endblock %}
