{% extends "base.html" %}

{% block page_content %}
<div class='panel panel-default'>
    <div class='panel-heading'>
        <h3>Welcome to the new CMS Conditions DB web service</h3>
    </div>
    <div class='panel-body'>
        <div class='panel-body'>
            {% if current_user.admin %}
            <p>Service info:</p>
            <ul>
                <li> Backend running on hostname: <strong>{{ config['HOSTNAME'] }}</strong>, port: <strong>{{ config['PORT'] }}</strong></li>
                <li> Up since: <strong>{{ config['START_TIME'] }}</strong> </li>
                <li> Production level: <strong>{{ config['PROD_LEVEL'] }}</strong>, debug: <strong>{{ config['DEBUG'] }}</strong></li>
                <li> <a href='https://gitlab.cern.ch/cms-ppdweb/' target='_blank'> Code base</a> - tag: <strong>{{ config['GIT_INFO'].tag }}</strong>, commit: <strong>{{ config['GIT_INFO'].commit }}</strong> (you may want to restart the service if it looks like it's not running according to this)</li>
            </ul>
            {% endif %}

            <p>Some info about new service</p>
        </div>
    </div>
</div>
{% endblock %}
