{% extends "base.html" %}

{% block page_content_fluid %}
{{ super() }}
<div class='panel panel-default'>
    <div class='panel-heading'>
        <h3>Global Tag entries</h3>
    </div>
    <div class='panel-body'>
        <div class='panel-body'>
            {{ macros.render_table('test_table') }}
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript">

    $(document).ready(function() {

        // Populate table with data

        $('#test_table').DataTable( {
            data: {{ data.data | tojson }},
            columns: [
                { title: "Record" },
                { title: "Label" },
                { title: "Tag" }
            ]
        } );


        // Example: how to retreive data from the client side.
        // Use the functions defined in db_layer/views.py

        $.get($SCRIPT_ROOT + '/db/get_gt_tags', {'database': 'Prep', 'gt': '74X_dataRun1_v1'}, 
        function(data) {
            console.log(data);
        }, "json");

    } );

</script>
{% endblock %}
